*{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: black;
    color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    font-size: 2rem;
}

#home,#about,#task{
    color: red;
    background-color: green;
}
/* #task{
    background-color: pink;
    color: red;
} */