.about-section{
    min-height: 100vh;
    /* background: #111; */
     background-image: url("https://i.pinimg.com/1200x/9b/0a/ce/9b0ace292e9fe5d7ef27b9f218bab044.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px 20px;
}

.about-container{
    width: 100%;
    max-width: 1200px;

    display: flex;
    align-items: center;

    background: transparent;
}

.about-image{
    flex: 1;
}

.about-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.about-content{
    flex: 1;

    background: white;

    padding: 60px;
}

.subtitle{
    color: #c89b63;
    font-size: 1.5rem;
    font-family: cursive;
}

.about-content h1{
    font-size: 3.5rem;
    margin: 10px 0 25px;
    color: #111;
}

.about-content p{
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-content button{
    margin-top: 15px;

    background: transparent;
    border: none;

    color: #c89b63;
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
}

.about-content button:hover{
    transform: translateX(8px);
    transition: .3s;
}

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
  }

  .about-image img {
    height: 350px;
  }

  .about-content {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 30px;
  }

  .about-content h1 {
    font-size: 2.5rem;
  }

  .about-image img {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .about-content {
    padding: 20px;
  }

  .about-content h1 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 0.9rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}